.rectangle {
    background-color: rgb(236, 229, 229);
    border: 4px solid black;
    height: 500px;
    width: 800px;
    margin: 100px 100px;
}
.figure1 {
    background-color: red;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    margin: 50px 50px;
}
.figure2 {
    background-color: green;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
    margin: 100px 100px;
}
.figure3 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 3;
    margin: 150px 150px;
}
.figure4 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 4;
    margin: 200px 200px;
}