body {
    position: relative;
}
.container {
    background-color: silver;
    width: 1050px;
    height: 500px;
    border: solid black 2px;
    position: absolute;
    top: 100px;
    left: 230px;
}
.img1 {
    height: 200px;
    width: 200px;
}
.img2 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.img3 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.img4 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.img5 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 225px;
    top: 40px;
    z-index: 1;
}
.img6 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 275px;
    top: 80px;
    z-index: 2;
}
.img7 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 325px;
    top: 120px;
    z-index: 3;
}
.img8 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 375px;
    top: 160px;
    z-index: 4;
}
.img9 {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 4;
    right: 370px;
    top: 160px;
}
.img10 {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 320px;
    top: 120px;
    z-index: 3;
}
.img11 {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 270px;
    top: 80px;
    z-index: 2;
}
.img12 {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 220px;
    top: 40px;
    z-index: 1;
}


