body{
    background-color: rgb(162, 162, 162);
}
.cxrili{
    color: blue;
    margin-left: 20%;
    margin-top:10%;
}
.lizi{
    color: black;
    font-size: 35px;
}
.gvari{
    color: rgb(66, 166, 66);
    font-size: 23px;
}