body {
    background-color: rgb(175, 194, 175);
}
.container {
    display: flex;
}
.figure1 {

    width: 50%;
    height: 500px;
}
.figure2 {
    width: 50%;
    height: 500px;
    margin-left: 60px;
}
.text1 {
    width: 90%;
    margin-left: 4%;
    margin-top: 4%;
    border-radius: 5px;
    border: 2px solid rgb(166, 202, 111);
    height: 30px;
}
.text2 {
    width: 90%;
    margin-left: 4%;
    margin-top: 4%;
    border-radius: 5px;
    border: 2px solid rgb(166, 202, 111);
    height: 90px;
}
.mycheckbox {
    display: inline-block; 
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    border: 1px solid black; 
    cursor: pointer; 
    text-align: center; 
    line-height: 16px;
}
label {
    display: block;
    margin-bottom: 10px;
}
.line {
    border-bottom: 3px solid green;
}
.box1 {
    background-color: green;
    height: 60px;
    width: 250px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 5px;
}
.bla {
    color: aliceblue;

    margin-top: 10px;
}