.container {
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: rgb(184, 180, 180);
    border: 2px solid black;
    text-align: center;
    margin-top: 10%;
}
.login {
    margin-top: 30px;
    font-size: 30px;
}
.text1 {
    margin-top: 50px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: solid 1px grey;
}
.text2 {
    margin-top: 50px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: solid 1px grey;
}
.container2 {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(218, 106, 106);
    margin: auto;
    margin-top: 50px;
}
.text3 {
    margin: auto;
    font-size: 25px;
    margin-top: 4px;
    color: aliceblue;
}
.link {
    margin: auto;
    margin-top: 20px;
}
