.title {
    color: rgb(183, 182, 182);
    font-size: 40px;
    margin-left: 2%;
}
.name {
    color: rgb(183, 182, 182);
    margin-left: 5%;
}
.text1 {
    margin-left: 30px;
    border: none;
    border-bottom: solid 2px rgb(112, 112, 112) ;
    width: 100%;
    margin-bottom: 50px;
}
.container {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    display: flex;
}
.Email {
    color: rgb(183, 182, 182);
    margin-left: 5%;
}
.container2 {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    display: flex;
}
.password {
    color: rgb(183, 182, 182);
    margin-left: 5%;
}
.container3 {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    display: flex;
}
.disabledinput {
    color: rgb(183, 182, 182);
    margin-left: 5%;
}
.container4 {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    display: flex;
}
.Textarea {
    color: rgb(183, 182, 182);
    margin-left: 5%;
}
.container5 {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    display: flex;
}