.box {
    /* border: solid black 2px;  */
    height: 700px;
    display: flex;
    gap: 7px;
}
.container1 {
    width: 50%;
    /* border: solid black 2px; */
    height: 700px;
    gap: 7px;
}
.container2 {
    width: 50%;
    /* border: solid black 2px; */
    height: 700px;
}
.item1 {
    width: 100%;
    background-color: blueviolet;
    border-radius: 5px;
    height: 300px;
}
.item2 {
    width: 100%;
    /* border: solid 2px red; */
    height: 300px;
    display: flex;
    gap: 7px;
    margin-top: 7px;
}
.item3 {
    width: 100%;
    background-color: green;
    border-radius: 5px;
    height: 85px;
    margin-top: 7px;
}
.figure1 {
    width: 50%;
    background-color: green;
    border-radius: 5px;
    height: 300px;
}
.figure2 {
    width: 50%;
    /* border: 2px solid blue; */
    border-radius: 5px;
    height: 300px;
    gap: 7px;
}
.boxin1 {
    width: 100%;
    background-color: rgb(100, 153, 222);
    border-radius: 5px;
    height: 93px;
    
}
.boxin2 {
    width: 100%;
    background-color: rgb(179, 83, 149);
    border-radius: 5px;
    height: 200px;
    margin-top: 7px;
}
.item4 {
    width: 100%;
    /* border: solid 2px red; */
    height: 500px;
    display: flex;
    gap: 7px;
}
.figure3 {
    width: 50%;
    background-color: green;
    border-radius: 5px;
    height: 500px;
    gap: 7px;
}
.figure4 {
    width: 50%;
    /* border: 2px solid blue; */
    border-radius: 5px;
    height: 500px;
    gap: 7px;
}
.boxin3 {
    width: 100%;
    background-color: rgb(100, 153, 222);
    border-radius: 5px;
    height: 93px;
}
.boxin4 {
    width: 100%;
    background-color: rgb(240, 88, 88);
    border-radius: 5px;
    height: 400px;
    margin-top: 7px;
}
.item5 {
    width: 100%;
    background-color: blueviolet;
    border-radius: 5px;
    height: 192px;
    margin-top: 7px;
}