.container {
    height: 700px;
    width: 99.6%;
    border: 4px solid grey;
    position: relative;
}
.header {
    height: 150px;
    width: 100%;
    background-color: cornflowerblue;
    position: relative;
}
.text1 {
    color: white;
    font-size: 40px;
    top: 50px;
    position: absolute;
    left: 20px;
}
.box1 {
    height: 200px;
    width: 60%;
    margin: auto;
    display: flex;
    gap: 7px;
    margin-top: 7px;
}
.figure1 {
    background-color: greenyellow;
    width: 70%;
    position: relative;
}
.text2 {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 70px;
    left: 30%;
}
.figure2 {
    background-color: rgb(138, 49, 201);
    width: 30%;
    position: relative;
}
.text3 {
    color: white;
    font-size: 40px;
    left: 20px;
    top: 70px;
    position: absolute;
    left: 20%;
}
.box2 {
    height: 200px;
    width: 60%;
    margin: auto;
    display: flex;
    gap: 7px;
    margin-top: 7px;
}
.figure3 {
    background-color: rgb(255, 175, 47);
    width: 45%;
    position: relative;
}
.text4 {
    color: white;
    font-size: 40px;
    left: 20px;
    top: 70px;
    position: absolute;
    left: 40%;
}

.figure4 {
    background-color: rgb(255, 175, 47);
    width: 55%;
    position: relative;

}
.text5 {
    color: white;
    font-size: 40px;
    left: 20px;
    top: 70px;
    position: absolute;
    left: 40%;
}
.footer {
    margin-top: 7px;
    background-color: cornflowerblue;
    width: 100%;
    height: 130px;
    position: relative;
}
.text6 {
    color: white;
    font-size: 40px;
    left: 20px;
    top: 40px;
    position: absolute;
}
