.box {
    border: 7px solid black;
    height: 510px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(61, 61, 61);
}
.item1 {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.item2 {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.item3 {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item4 {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item5 {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.figure1 {
    background-color: red;
    width: 200px;
    height: 99px;
    border: 2px solid black;
}
.figure2 {
    background-color: rgb(86, 249, 94);
    width: 100px;
    height: 99px;
    border: 2px solid black;
}
.figure3 {
    background-color: rgb(66, 56, 255);
    width: 300px;
    height: 99px;
    border: 2px solid black;
}
.figure4 {
    background-color: red;
    width: 200px;
    height: 99px;
    border: 2px solid black;
}
.figure5 {
    background-color: rgb(86, 249, 94);
    width: 100px;
    height: 99px;
    border: 2px solid black;
}
.figure6 {
    background-color: rgb(66, 56, 255);
    width: 300px;
    height: 99px;
    border: 2px solid black;
}
.figure7 {
    background-color: red;
    width: 200px;
    height: 99px;
    border: 2px solid black;
}
.figure8 {
    background-color: rgb(86, 249, 94);
    width: 100px;
    height: 99px;
    border: 2px solid black;
}
.figure9 {
    background-color: rgb(66, 56, 255);
    width: 300px;
    height: 99px;
    border: 2px solid black;
}
.figure10 {
    background-color: red;
    width: 200px;
    height: 99px;
    border: 2px solid black;
}
.figure11 {
    background-color: rgb(86, 249, 94);
    width: 100px;
    height: 99px;
    border: 2px solid black;
}
.figure12 {
    background-color: rgb(66, 56, 255);
    width: 300px;
    height: 99px;
    border: 2px solid black;
}
.figure13 {
    background-color: red;
    width: 200px;
    height: 94px;
    border: 2px solid black;
}
.figure14 {
    background-color: rgb(86, 249, 94);
    width: 100px;
    height: 94px;
    border: 2px solid black;
}
.figure15 {
    background-color: rgb(66, 56, 255);
    width: 300px;
    height: 94px;
    border: 2px solid black;
}