*{
    box-sizing: border-box;
}
.figure1 {
    margin-left:50px; 
    background-color: rgb(161, 153, 161) ; 
    width:700px; 
    height:500px; 
    text-align:center; 
    padding:60px; 


}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure2 {
    background-color:rgb(223, 252, 3); 
    height: 400px;
    width: 600px;
    justify-content: center;
    align-items: center;
}
.figure3 {
    background-color:rgb(121, 121, 120); 
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

