.header{
    background-color: green;
    height: 100px;
    width: 70%;
    margin: auto;
    color: aliceblue;
    font-size: 30px;
    display: flex;

}
.header p {
    margin-left: 2%;
}

.content{
    width: 70%;
    margin: auto;
    display: flex;
}

.nav{
    width: 70%;
}

.nav div{
   background-color: aqua;
   padding: 10px;
   margin: 10px;
}

.info{
    padding: 10px;
}

.footer{
    height: 70px;
    background-color: green;
    width: 70%;
    margin: auto;
    position: relative;
}
.footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: aliceblue;
}
