*{
    box-sizing: border-box;
}
table  {
    margin: auto;
    height: 500px;
    width: 500px;
} 
.line1 {
    background-color: aqua;
}
h2 {
    text-align: center;
}
td  {
    height: 50px;
}
.line2 {
    background-color: bisque;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow { 
    background-color: yellow;
}