body {
    margin-left: 2%;
    margin-right: 2%;
}
.text {
    margin-top: -21%;
    margin-left: 36%;
}
.line {
    border-bottom: solid;
    box-shadow: black;
    color: darkgray;
}
.links {
    margin-top: 7%;
    word-spacing: 20px;
    font-size: 25px;
}