.title {
    text-align: center;
}
body {
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(111, 144, 186);
}
.my-button {
    background-color: #05005f; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px; 
    border-radius: 5px; 
  }
  
  .my-button:hover {
    background-color: #0b2d65; 
  }
.text1 {
    width: 50%;
}
.img1 {
    margin-left: 55%;
    margin-top: -15%;
}
.img2 {
    height: 500px;
}
.text3 {
    width: 50%;
}
.img3 {
    margin-left: 55%;
    margin-top: -8%;
}
.container {
    width: 70%;
    padding: 10px;
}
table, th, td {
    border:1px solid black;
}
.text {
    padding-left: 25%;
}
.bodystyle {
    height: 80px;
}
.color {
    background-color: green;
    height: 40px;
}
.text4 {
    margin-left: 62%;
    width: 40%;
    margin-top: -23%;
}
.text5 {
    width: 50%;
}
.img5 {
    margin-left: 60%;
    margin-top: -13%;
}
.text6 {
    margin-left: 30%;
    margin-top: -20%;
}
.img4 {
    margin-left: 55%;
    margin-top: -28%;
}