.container {
    width: 70%;
    padding: 10px;
}
table, th, td {
    border:1px solid black;
}
.text {
    padding-left: 25%;
}
.bodystyle {
    height: 80px;
}
.color {
    background-color: green;
    height: 40px;
}