.container {
    width: 70%;
    margin: auto;
    padding: 10px;
    height: 20px;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
.ujra1 {
    height: 40px;
    width: 50px;
}
.ujra2 {
    height: 20px;
    width: 50px;
}
.ujra3 {
    height: 45px;
    width: 50px;
}
.feri {
    background-color: white;
}
.feri2 {
    background-color: red;
}
.feri3 {
    background-color: green;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.feri4 {
    background: blue;
}