body {
    margin-left: 4%;
    margin-right: 5%;
}
.title {
    font-size: 40px;
    font-family: "ALK Life", sans-serif;
}
.text1 {
    font-family: "BPG Ucnobi", sans-serif;
    margin-top: -3%;
    font-size: 30px;
}
.text2 {
    width: 50%;
    font-family: "ALK Life", sans-serif;
    font-size: 20px;

}
.ubnebi {
    font-family: "BPG Ucnobi", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    margin-right: 5%;
  }
  .my-button {
    background-color: #5f0000; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px; 
    border-radius: 5px; 
  }
  
  .my-button:hover {
    background-color: #3b0011; 
  }
  .image {
    text-align: right;
    margin-top: -30%;
  }
  .avlabari {
    font-size: 20px;
    width: 40%;
  }
  .avlabariimg {
    float: right;
    margin-top:-39%;
  }
  .vake {
    margin-left: 50%;
    font-size: 20px;
    margin-top: -30%;
  }
  .saburtalo {
    font-size: 20px;
    width: 40%;
  }
  .saburtaloimg {
    height: 200px;
    float: right;
    margin-top: -30%;
  }
  .mtawminda {
    font-size: 20px;
    width: 50%;
    margin-left: 47%;
    margin-top: -22%;
  }
  .varketili {
    font-size: 20px;
    width: 40%;
  }
  .varketiliimg {
    float: right;
    margin-top: -30%;
  }
  .gldani {
    font-size: 20px;
    width: 40%;
    float:right ;
    margin-top: -5px;
  }
