body {
    margin-left: 3%;
    margin-right: 4%;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .photo {
    position: relative;
    overflow: hidden;
  }
  
  .photo img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
  }
  .text1 {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 48%;
    text-align: justify;
  }
  .text2 {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 48%;
    text-align: justify;
    float: right;
    margin-top: -22.5%;
    margin-right: 1.5%;
  }
  .pc {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
  }
  .informatika {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
    margin-left: 26%;
    margin-top: -24%;
  }
  .laptops {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
    margin-left: 51%;
    margin-top: -28%;
  }
  .programming {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
    margin-left: 76%;
    margin-top: -29.5%;
  }
  .windows {
    margin-top: 34%;
  }
  .linux {
    margin-top: 35%;
  }
  .windowstxt {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
    margin-left: 26%;
    margin-top: -15%;
  }
  .linuxtxt {
    font-family: "ALK Life", sans-serif;
    font-size: 20px;
    width: 23%;
    text-align: justify;
    margin-left: 76%;
    margin-top: -18%;
  }
  
  