.underline {
    text-decoration: underline;
}
.text {
    margin-left: 35%;
    margin-top: -16%;
}
body {
    margin-left: 2%;
    margin-right: 2%;
}
.photo {
    text-align: right;
    margin-right: 15%;
    margin-top: -25%;
}
.secondp {
    width: 50%;
}
.img {
    text-align: right;
    margin-right: 12%;
    margin-top: -10%; 
}
.list {
    margin-top: -18%;
}
